*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
}

#welcome{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#111,#000,#202020);
}

#welcome h1{
    font-size:40px;
    color:#fff;
    margin-bottom:20px;
    text-shadow:0 0 20px red;
}

#startBtn{
    padding:18px 35px;
    font-size:18px;
    border:none;
    border-radius:12px;
    background:red;
    color:white;
    cursor:pointer;
    transition:.3s;
}

#startBtn:hover{
    transform:scale(1.05);
    background:white;
    color:red;
}

#main{
    display:none;
    padding:30px 20px;
}

h2{
    text-align:center;
    margin:35px 0 20px;
    color:red;
}

.players{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:20px;
}

.player{
    background:#181818;
    border-radius:15px;
    text-align:center;
    padding:15px;
    cursor:pointer;
    transition:.3s;
    border:1px solid #333;
}

.player:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px red;
}

.player img{
    width:100%;
    border-radius:10px;
}

.player h3{
    margin-top:10px;
}

.achievement{
    background:#181818;
    padding:20px;
    border-radius:15px;
    line-height:35px;
    text-align:center;
}

button{
    display:block;
    margin:25px auto;
    padding:14px 30px;
    background:red;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:white;
    color:red;
}

#lineup{
    display:none;
    background:#181818;
    border-radius:15px;
    padding:20px;
}

#lineup img{
    width:100%;
    border-radius:12px;
    margin:15px 0;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
}

.gallery img{
    .contact{
    padding:80px 20px;
    background:#111;
    color:#fff;
    text-align:center;
}

.contact-info{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.contact .card{
    width:280px;
    background:#1b1b1b;
    padding:20px;
    border-radius:15px;
    border:1px solid #ff2d2d;
    transition:.3s;
}

.contact .card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(255,0,0,.4);
}

.contact a{
    color:#fff;
    text-decoration:none;
}

footer{
    background:#000;
    color:#888;
    text-align:center;
    padding:20px;
}
   
